/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: Montserrat;
} */
.hero {
  margin: 0 auto;
  max-width: 1160px;
}
@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 20rem;
  }
}
/* .hero__grid__one {
  content:'';
  z-index: -1;
  position: absolute;
  background-image: url('../../images/Grids.svg');
  background-size: 100%;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  left: auto;
  top: 480px;
  right: 100px;
  bottom: auto;
}
.hero__grid__two {
  content:'';
  position: absolute;
  background-image: url('../../images/Grids2.svg');
  background-size: 100%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  left: auto;
  top: 80px;
  right: 250px;
  bottom: auto;
}
.hero__grid__three {
  content:'';
  position: absolute;
  background-image: url('../../images/Grids2.svg');
  background-size: 100%;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  left: auto;
  top: 260px;
  right: 100px;
  bottom: auto;
} */
.hero__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 40em) {
  .hero__image {
    background-size: 43%;
  }
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-size: 70%;
  }
}
.hero__video {
  width: 100%;
}
.hero__image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url('../../images/3dv1.png'); */
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 145px;
}
@media (max-width: 40em) {
  .hero__image::before {
    background-position: center center;
  }
}
@media (min-width: 40em) {
  .hero__image::before {
    background-size: 55%;

  }
}
@media (min-width: 64em) {
  .hero__image::before {
    background-size: 100%;
  }
}

.hero__text {
  text-align: left;
  /* padding-left: 10%;
  padding-right: 10%; */
}
@media (max-width: 576px) {
  .hero__text {
    padding: 10%;
  }
}
@media (min-width: 40em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
}
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}

.hero__text h1 {
  font-family: 'Gilroy-Bold';
  font-size: 2.31rem;
  line-height: 1.1;
  color: var(--primary-1);
  margin-bottom: 1.5rem;
  text-align: left;
  background-image: linear-gradient(120deg, #16e9cd, #3E74FF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (min-width: 25.875em) {
  .hero__text h1 {
    text-align: center;
  }
}
@media (min-width: 40em) {
  .hero__text h1 {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .hero__text h1 {
    text-align: left;
    font-size: 3.25rem;
  }
}

.hero__text p {
  font-family: 'Gilroy-Light';
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: #6a707e;
}

.hero__cta {
  padding: 20px;
  border-radius: 5px;
  background: #ff4a1c;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 40em) {
  .hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 64em) {
  .hero__button {
    display: flex;
    align-items: left;
    justify-content: left;
  }
}