.dashboard {
  position: relative;
  top: 0px;
  left: 250px;
  // background: #F5F6FB;
  height: 100vh;
  width: calc(100% - 250px);
  padding-left: 1%;
  padding-right: 1%;

  &__title {
    display: inline-block;
    color: #3e74ff;
    margin: 10px;
    padding: 5px;
    // text-transform: uppercase;
    h3 {
      font-family: 'Gilroy-Bold';
    }
  }
  &__graph {
    background: #f5f6fb;
    height: 100vh;

    &__one__subheading {
      background-color: #fff;
      top: 80px;
      border: 1px solid #3e74ff;
      border-bottom: hidden;
      padding-left: 1%;
      padding-top: 1%;
      padding-right: 1%;
      display: flex;
      justify-content: space-between;
      p {
        color: #747474;
        font-family: Nunito;
        font-weight: 100;
        font-size: 1.125rem;
      }
    }
    &__one__buttons {
      &__daily {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 5px 15px;
        background: transparent;
        color: #000;
        border: 3px solid #5383ff;
        border-right: hidden;
        transition: all 0.5s ease;
        &:hover {
          background: #5383ff;
        }
      }

      &__monthly {
        padding: 5px 15px;
        background: transparent;
        color: #000;
        border: 3px solid #5383ff;
        transition: all 0.5s ease;
        &:hover {
          background: #5383ff;
        }
      }

      &__yearly {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px 15px;
        background: transparent;
        color: #000;
        border: 3px solid #5383ff;
        border-left: hidden;
        transition: all 0.5s ease;
        &:hover {
          background: #5383ff;
        }
      }
    }

    &__one__heading {
      display: flex;
      align-items: center;
      justify-content: start;
      border: 1px solid #3e74ff;
      border-top: hidden;
      border-bottom: hidden;
      padding-left: 2%;
      background-color: #fff;
      p {
        color: #000;
        font-family: 'Gilroy-Bold';
        // font-weight: 700;
        font-size: 18px;
        margin-left: 1.5rem;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__two__subheading {
      // border-top-left-radius: 15px;
      // border-top-right-radius: 15px;
      background-color: #fff;
      border: 1px solid #3e74ff;
      border-bottom: hidden;
      padding-left: 3%;
      padding-top: 3%;
      padding-right: 3%;
      width: 100%;
      p {
        color: #747474;
        font-family: Nunito;
        font-weight: 100;
        font-size: 1.125rem;
      }
    }
    &__two__heading {
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #fff;
      border: 1px solid #3e74ff;
      border-top: hidden;
      border-bottom: hidden;
      padding-left: 3%;
      width: 100%;
      p {
        color: #000;
        font-family: 'Gilroy-Bold';
        // font-weight: 700;
        font-size: 18px;
        margin-left: 1.5rem;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__three__subheading {
      // border-top-left-radius: 15px;
      // border-top-right-radius: 15px;
      background-color: #fff;
      border: 1px solid #3e74ff;
      border-bottom: hidden;
      padding-left: 3%;
      padding-top: 3%;
      padding-right: 3%;
      width: 100%;
      p {
        color: #747474;
        font-family: Nunito;
        font-weight: 100;
        font-size: 1.125rem;
      }
    }
    &__three__heading {
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #fff;
      border: 1px solid #3e74ff;
      border-top: hidden;
      border-bottom: hidden;
      padding-left: 3%;
      width: 100%;
      p {
        color: #000;
        font-family: 'Gilroy-Bold';
        // font-weight: 700;
        font-size: 18px;
        margin-left: 1.5rem;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__four__subheading {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background: #2a3050;
      border: 5px solid #3e74ff;
      border-bottom: hidden;
      padding-left: 3%;
      padding-top: 3%;
      padding-right: 3%;
      width: 100%;
      p {
        color: #747474;
        font-family: Nunito;
        font-weight: 100;
        font-size: 1.125rem;
      }
    }
    &__four__heading {
      background: #2a3050;
      border: 5px solid #3e74ff;
      border-top: hidden;
      border-bottom: hidden;
      padding-left: 3%;
      width: 100%;
      p {
        color: #000;
        font-family: Nunito;
        font-weight: 100;
        font-size: 1.75rem;
      }
    }
    &__four__grid {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'left right';
    }
    &__four__grid__left {
      background-color: #fff;
      border-right: hidden;
      border-bottom-right-radius: 0px;
    }
    &__four__grid__right {
      height: auto;
      background-color: #2a3050;
      border: 5px solid #3e74ff;
      border-left: hidden;
      border-top: hidden;
      border-bottom-right-radius: 15px;
      padding: 1rem;
      p {
        color: #000;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
.recharts-responsive-container {
  border: 1px solid #3e74ff;
  border-top: hidden;
  margin-bottom: 2.5rem;
  background: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}
.flex {
  display: flex;
  height: auto;
}
.container {
  width: 100%;
}
.container:not(:last-child) {
  margin-right: 2%;
}

.dashboard__graph__four__grid__left {
  background-color: #2a3050;
  border-right: hidden;
  border-bottom-right-radius: 0px;
}

.square__one {
  margin-top: 1%;
  margin-right: 2%;
  height: 15px;
  width: 15px;
  background-color: #0088fe;
}
.square__two {
  margin-top: 1%;
  margin-right: 2%;
  height: 15px;
  width: 15px;
  background-color: #00c49f;
}
.square__three {
  margin-top: 1%;
  margin-right: 2%;
  height: 15px;
  width: 15px;
  background-color: #ffbb28;
}
.square__four {
  margin-top: 1%;
  margin-right: 2%;
  height: 15px;
  width: 15px;
  background-color: #ff8042;
}

@media screen and (max-width: 960px) {
  .dashboard {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: var(--white);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
  }
}

@media screen and (max-width: 416px) {
  .flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .dashboard__graph__four__grid__right {
    height: 70.9%;
    background-color: #2a3050;
    border: 5px solid #3e74ff;
    border-left: hidden;
    border-top: hidden;
    border-bottom-right-radius: 15px;
    padding: 0;
    //   p {
    //     color: #fff;
    //     font-weight: 500;
    //     margin-bottom: 1rem;
    //     margin-right: 1rem;
    //     font-size: 1rem;
    // }

    &__flex {
      display: flex;
      font-size: 0.765rem;
    }
  }
  .square__one {
    margin-top: 2%;
    margin-right: 2%;
    height: 10px;
    width: 10px;
    background-color: #0088fe;
  }
  .square__two {
    margin-top: 2%;
    margin-right: 2%;
    height: 10px;
    width: 10px;
    background-color: #00c49f;
  }
  .square__three {
    margin-top: 2%;
    margin-right: 2%;
    height: 10px;
    width: 10px;
    background-color: #ffbb28;
  }
  .square__four {
    margin-top: 2%;
    margin-right: 2%;
    height: 10px;
    width: 10px;
    background-color: #ff8042;
  }
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.redirect-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-1);
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.7;
}

.button:hover {
  background: #3e74ff;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
